<header class="header">

    <div class="header__store-name header__main-left">


    </div><!--header__section header__section--left-->

    <div class="header__store-name header__center">

        <a href="{{ url_for('main_page') }}" class="header__brand">Les Vignes d’Or</a>

    </div><!--header__store-name header__store--center-->

    <div class="header__store-name header__main-right">

        {% if 'user_id' in session %}

        <a href="{{ url_for('logout') }}" class="header__icon-link" title="Sair ({{ session.username }})">

            <i class="fas fa-sign-out-alt"></i>

        </a><!--header__icon-link-->

        {% else %}

        <a href="{{ url_for('create_acount') }}" class="header__icon-link" title="Entrar / Criar Conta">

            <i class="fas fa-user-circle"></i>

        </a><!--header__icon-link-->

        {% endif %}

        <a href="{{ url_for('carrinho') }}" class="header__icon-link" title="Carrinho">

            <i class="fas fa-shopping-cart"></i>

        </a><!--header__icon-link-->

    </div><!--header__section header__section--right-->

</header><!--header-->